<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED"
            android:value="true" />
        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_ALLOW_SYSTEM"
            android:value="true" />
        <provider
            android:name=".DisplaySettingsProvider"
            android:authorities="com.example.carsettings.provider.display"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.carsettings.CATEGORY_PROVIDER" />
            </intent-filter>
        </provider>

        <activity
            android:name=".DisplaySettingsActivity"
            android:exported="true"
            android:taskAffinity=""
            android:label="Display">
            <intent-filter>
                <action android:name="com.example.carsettings.display.OPEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
